<!DOCTYPE html>
<html ng-app>
	<head>		
	</head>
	<body ng-controller='FilmesController'>
		<h1>Teste Capoia</h1>

		<p>{{filme}}</p>

		<script src='/javascripts/angular.js'></script>
		<script src='/javascripts/FilmesController.js'></script>
	</body>
</html>